RapChieuFilmClient/src/META-INF/wsdl/localhost_8080/ServerKTTKPM/ManagerWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.test.htc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.test.htc.com/" name="ManagerWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.test.htc.com/" schemaLocation="http://localhost:8080/ServerKTTKPM/ManagerWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllFilmProvider">
<part name="parameters" element="tns:getAllFilmProvider"/>
</message>
<message name="getAllFilmProviderResponse">
<part name="parameters" element="tns:getAllFilmProviderResponse"/>
</message>
<message name="addFilm">
<part name="parameters" element="tns:addFilm"/>
</message>
<message name="addFilmResponse">
<part name="parameters" element="tns:addFilmResponse"/>
</message>
<message name="addNewFilmProvider">
<part name="parameters" element="tns:addNewFilmProvider"/>
</message>
<message name="addNewFilmProviderResponse">
<part name="parameters" element="tns:addNewFilmProviderResponse"/>
</message>
<message name="searchFilmProvider">
<part name="parameters" element="tns:searchFilmProvider"/>
</message>
<message name="searchFilmProviderResponse">
<part name="parameters" element="tns:searchFilmProviderResponse"/>
</message>
<portType name="ManagerWS">
<operation name="getAllFilmProvider">
<input wsam:Action="http://ws.test.htc.com/ManagerWS/getAllFilmProviderRequest" message="tns:getAllFilmProvider"/>
<output wsam:Action="http://ws.test.htc.com/ManagerWS/getAllFilmProviderResponse" message="tns:getAllFilmProviderResponse"/>
</operation>
<operation name="addFilm">
<input wsam:Action="http://ws.test.htc.com/ManagerWS/addFilmRequest" message="tns:addFilm"/>
<output wsam:Action="http://ws.test.htc.com/ManagerWS/addFilmResponse" message="tns:addFilmResponse"/>
</operation>
<operation name="addNewFilmProvider">
<input wsam:Action="http://ws.test.htc.com/ManagerWS/addNewFilmProviderRequest" message="tns:addNewFilmProvider"/>
<output wsam:Action="http://ws.test.htc.com/ManagerWS/addNewFilmProviderResponse" message="tns:addNewFilmProviderResponse"/>
</operation>
<operation name="searchFilmProvider">
<input wsam:Action="http://ws.test.htc.com/ManagerWS/searchFilmProviderRequest" message="tns:searchFilmProvider"/>
<output wsam:Action="http://ws.test.htc.com/ManagerWS/searchFilmProviderResponse" message="tns:searchFilmProviderResponse"/>
</operation>
</portType>
<binding name="ManagerWSPortBinding" type="tns:ManagerWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllFilmProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewFilmProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchFilmProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ManagerWS">
<port name="ManagerWSPort" binding="tns:ManagerWSPortBinding">
<soap:address location="http://localhost:8080/ServerKTTKPM/ManagerWS"/>
</port>
</service>
</definitions>