RapChieuFilmClient/src/META-INF/wsdl/localhost_8080/ServerKTTKPM/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/2.4.8 (RELEASE-2.4.8-e044505; 2022-01-04T13:29:23+0000) JAXWS-RI/2.3.5 JAXWS-API/2.3.3 JAXB-RI/2.3.5 JAXB-API/2.3.3 git-revision#e044505. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.test.htc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.test.htc.com/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.test.htc.com/" schemaLocation="http://localhost:8080/ServerKTTKPM/UserWS?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getEmp">
<part name="parameters" element="tns:getEmp"/>
</message>
<message name="getEmpResponse">
<part name="parameters" element="tns:getEmpResponse"/>
</message>
<message name="getCus">
<part name="parameters" element="tns:getCus"/>
</message>
<message name="getCusResponse">
<part name="parameters" element="tns:getCusResponse"/>
</message>
<message name="searchFilm">
<part name="parameters" element="tns:searchFilm"/>
</message>
<message name="searchFilmResponse">
<part name="parameters" element="tns:searchFilmResponse"/>
</message>
<message name="getListFilm">
<part name="parameters" element="tns:getListFilm"/>
</message>
<message name="getListFilmResponse">
<part name="parameters" element="tns:getListFilmResponse"/>
</message>
<message name="addBill">
<part name="parameters" element="tns:addBill"/>
</message>
<message name="addBillResponse">
<part name="parameters" element="tns:addBillResponse"/>
</message>
<message name="updatePaidBill">
<part name="parameters" element="tns:updatePaidBill"/>
</message>
<message name="updatePaidBillResponse">
<part name="parameters" element="tns:updatePaidBillResponse"/>
</message>
<message name="getFilm">
<part name="parameters" element="tns:getFilm"/>
</message>
<message name="getFilmResponse">
<part name="parameters" element="tns:getFilmResponse"/>
</message>
<message name="getBill">
<part name="parameters" element="tns:getBill"/>
</message>
<message name="getBillResponse">
<part name="parameters" element="tns:getBillResponse"/>
</message>
<message name="getListShowTimesOfFilm">
<part name="parameters" element="tns:getListShowTimesOfFilm"/>
</message>
<message name="getListShowTimesOfFilmResponse">
<part name="parameters" element="tns:getListShowTimesOfFilmResponse"/>
</message>
<message name="getListFilmCategory">
<part name="parameters" element="tns:getListFilmCategory"/>
</message>
<message name="getListFilmCategoryResponse">
<part name="parameters" element="tns:getListFilmCategoryResponse"/>
</message>
<message name="getShowTimesDetails">
<part name="parameters" element="tns:getShowTimesDetails"/>
</message>
<message name="getShowTimesDetailsResponse">
<part name="parameters" element="tns:getShowTimesDetailsResponse"/>
</message>
<portType name="UserWS">
<operation name="register">
<input wsam:Action="http://ws.test.htc.com/UserWS/registerRequest" message="tns:register"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://ws.test.htc.com/UserWS/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/logoutResponse" message="tns:logoutResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws.test.htc.com/UserWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getEmp">
<input wsam:Action="http://ws.test.htc.com/UserWS/getEmpRequest" message="tns:getEmp"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/getEmpResponse" message="tns:getEmpResponse"/>
</operation>
<operation name="getCus">
<input wsam:Action="http://ws.test.htc.com/UserWS/getCusRequest" message="tns:getCus"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/getCusResponse" message="tns:getCusResponse"/>
</operation>
<operation name="searchFilm">
<input wsam:Action="http://ws.test.htc.com/UserWS/searchFilmRequest" message="tns:searchFilm"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/searchFilmResponse" message="tns:searchFilmResponse"/>
</operation>
<operation name="getListFilm">
<input wsam:Action="http://ws.test.htc.com/UserWS/getListFilmRequest" message="tns:getListFilm"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/getListFilmResponse" message="tns:getListFilmResponse"/>
</operation>
<operation name="addBill">
<input wsam:Action="http://ws.test.htc.com/UserWS/addBillRequest" message="tns:addBill"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/addBillResponse" message="tns:addBillResponse"/>
</operation>
<operation name="updatePaidBill">
<input wsam:Action="http://ws.test.htc.com/UserWS/updatePaidBillRequest" message="tns:updatePaidBill"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/updatePaidBillResponse" message="tns:updatePaidBillResponse"/>
</operation>
<operation name="getFilm">
<input wsam:Action="http://ws.test.htc.com/UserWS/getFilmRequest" message="tns:getFilm"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/getFilmResponse" message="tns:getFilmResponse"/>
</operation>
<operation name="getBill">
<input wsam:Action="http://ws.test.htc.com/UserWS/getBillRequest" message="tns:getBill"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/getBillResponse" message="tns:getBillResponse"/>
</operation>
<operation name="getListShowTimesOfFilm">
<input wsam:Action="http://ws.test.htc.com/UserWS/getListShowTimesOfFilmRequest" message="tns:getListShowTimesOfFilm"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/getListShowTimesOfFilmResponse" message="tns:getListShowTimesOfFilmResponse"/>
</operation>
<operation name="getListFilmCategory">
<input wsam:Action="http://ws.test.htc.com/UserWS/getListFilmCategoryRequest" message="tns:getListFilmCategory"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/getListFilmCategoryResponse" message="tns:getListFilmCategoryResponse"/>
</operation>
<operation name="getShowTimesDetails">
<input wsam:Action="http://ws.test.htc.com/UserWS/getShowTimesDetailsRequest" message="tns:getShowTimesDetails"/>
<output wsam:Action="http://ws.test.htc.com/UserWS/getShowTimesDetailsResponse" message="tns:getShowTimesDetailsResponse"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBill">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePaidBill">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBill">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListShowTimesOfFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListFilmCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShowTimesDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8080/ServerKTTKPM/UserWS"/>
</port>
</service>
</definitions>